In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline

In [ ]:
column_names = [
    "lat", 
    "lon", 
    "id", 
    "source_id", 
    "account_id", 
    "title", 
    "created_on", 
    "updated_on", 
    "start_ts", 
    "unitl_ts",
    "report_type",
    "notes", 
    "layer_id",
    "severity"
]

In [14]:
df = pd.read_table("reports_12DEC16-26DEC16.txt", header=None, names=column_names)

In [15]:
print df.describe()

                 lat            lon      start_ts      unitl_ts
count  127328.000000  127328.000000  1.273270e+05  1.273270e+05
mean       28.532422       7.615720  1.482151e+09  1.514842e+09
std        21.930051      78.080219  3.615758e+05  2.880806e+08
min       -90.000000    -179.966700  1.479071e+09  1.481548e+09
25%        18.248290     -75.590556  1.481840e+09  1.482070e+09
50%        35.000000      16.588660  1.482145e+09  1.482365e+09
75%        41.836944      70.000000  1.482444e+09  1.482671e+09
max        85.000000     179.416670  1.487462e+09  4.074174e+09

In [16]:
print df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127328 entries, 0 to 127327
Data columns (total 14 columns):
lat            127328 non-null float64
lon            127328 non-null float64
id             127328 non-null object
source_id      98997 non-null object
account_id     127328 non-null object
title          127328 non-null object
created_on     127328 non-null object
updated_on     127328 non-null object
start_ts       127327 non-null float64
unitl_ts       127327 non-null float64
report_type    127327 non-null object
notes          127306 non-null object
layer_id       127322 non-null object
severity       127327 non-null object
dtypes: float64(4), object(10)
memory usage: 13.6+ MB
None

In [21]:
location_df = df.ix[:, :2]

In [22]:
location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127328 entries, 0 to 127327
Data columns (total 2 columns):
lat    127328 non-null float64
lon    127328 non-null float64
dtypes: float64(2)
memory usage: 1.9 MB

In [ ]:
# plt.scatter(location_df["lat"], location_df["lon"])
# plt.show()